<%- include('partials/navigation') %>
<div class="home-content"></div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="scripts/games.js"></script>
<%- include('partials/footer') %>