<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/login.css">
    <link rel="stylesheet" href="styles/main.css">
    <title>My Critique - Create Account or Log In!</title>
</head>
<body id="login">
    <div class="container">
    
        <div class="login-container">
            <form action="/login" method="POST" class="form login-form" novalidate>
    
                <div>
                    <h1>Sign in.</h1>
                </div>
    
                <div class="form-content">
                    <%- include('partials/login-flash') %>
                    <div class="validation-feedback">
                        <p class="validation-feedback-error"></p>
                    </div>
                    <label class="visually-hidden" for="login-username">Enter your username:</label>
                    <input class="input" type="text" id="login-username" placeholder="Username" name="username">
                    
                    <div class="validation-feedback">
                        <p class="validation-feedback-error"></p>
                    </div>
                    <label class="visually-hidden" for="login-password">Enter your password:</label>
                    <input class="input" type="password" id="login-password" placeholder="Password" name="password">
                    
                    <div class="container-divider">
    
                        <div>
                            <input type="checkbox" id="remember-me" name="remember">
                            <label class="checkbox-label" for="remember-me">Remember me</label>
                        </div>
    
                        <a href="#">Forgot password?</a>
    
                    </div>
    
                    <label class="visually-hidden" for="login-btn">Login.</label>
                    <input class="input" type="submit" id="login-btn" value="Login">
    
                    <a id="continue-as-guest" href="/home">Continue without logging in.</a>
                </div>
    
                <div class="form-content">
                    <label class="visually-hidden" for="create-account-btn">Create a new account.</label>
                    <input class="input" type="button" id="create-account-btn" value="Create new account">
                </div>
    
            </form>
        </div>
    
        <div class="login-container signup-container">
            <form action="/register" method="POST" class="form login-form signup-form" novalidate>
    
                <div>
                    <h1>Sign up.</h1>
                </div>
    
                <div class="form-content">
                    <%- include('partials/login-flash') %>
                    <div class="validation-feedback">
                        <p class="validation-feedback-error"></p>
                    </div>
                    <label class="visually-hidden" for="email">Enter your email address:</label>
                    <input class="input" type="email" id="email" placeholder="Email address" name="email">
                    <div class="validation-feedback">
                        <p class="validation-feedback-error"></p>
                    </div>
                    <label class="visually-hidden" for="signup-username">Enter your desired username:</label>
                    <input class="input" type="text" id="signup-username" placeholder="Username" name="username">
                    <div class="validation-feedback">
                        <p class="validation-feedback-error"></p>
                    </div>
                    <label class="visually-hidden" for="signup-password">Enter your chosen password:</label>
                    <input class="input" type="password" id="signup-password" placeholder="Password" name="password">
                    <div class="validation-feedback">
                        <p class="validation-feedback-error"></p>
                    </div>
                    <label class="visually-hidden" for="signup-password2">Confirm your chosen password:</label>
                    <input class="input" type="password" id="signup-password2" placeholder="Confirm password"
                        name="confirmedPassword">
                    <div class="validation-feedback">
                        <p class="validation-feedback-error"></p>
                    </div>
                    <label class="visually-hidden" for="firstname">Enter your first name:</label>
                    <input class="input" type="text" id="firstname" placeholder="First name" name="firstname">
                    <div class="validation-feedback">
                        <p class="validation-feedback-error"></p>
                    </div>
                    <label class="visually-hidden" for="lastname">Enter your last name:</label>
                    <input class="input" type="text" id="lastname" placeholder="Last name" name="lastname">
    
                    <div class="container-divider">
                        
                    </div>
    
                </div>
    
                <div class="form-content">
                    <label class="visually-hidden" for="signup-btn">Sign up.</label>
                    <input class="input" type="submit" id="signup-btn" value="Sign up">
    
                    <a id="back-to-login">Already have an account? Login now.</a>
                </div>
    
            </form>
        </div>
    
        <footer>
            <p id="footer-content">Copyright <span>&copy;</span> Chris McGinnis 2022</p>
        </footer>
    
    </div>
    
    <div class="background">
        <svg id="login-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1265.12 348.96">
            <g>
                <g>
                    <g>
                        <g>
                            <path
                                d="M267.91,29.61C262,.55,241.49-.77,228.29,1.87S75.3,29.42,41.35,37c-27.08,5.84-24.44,38.2-24.44,38.2C14.27,85.75,5,197.36,1.72,215.2s4,37.67,21.8,38.41,44.28,2.64,44.28,2.64L38.74,346.07l101.07-85.86s74,5.29,122.19,7.93,40.28-21.14,37.64-37.65S273.86,58.67,267.91,29.61ZM167.31,178.24H140V138c0-11.26-4.62-16-11.83-16-7.93,0-13.69,5.28-13.69,17.46v38.84H87V138c0-11.26-4.49-16-11.84-16-8.08,0-13.87,5.28-13.87,17.46v38.84H33.85V100H60v8.3a31.11,31.11,0,0,1,23.38-9.54c10.57,0,19.76,3.91,25.26,12.26a33.92,33.92,0,0,1,27.13-12.26c18.17,0,31.7,10.57,31.7,34.77Zm64.52,3.17c-8.25,20.18-19.79,26.13-35.22,26.13a38.49,38.49,0,0,1-22.67-7.08l9.54-19.21a18.61,18.61,0,0,0,12,4.62,10.56,10.56,0,0,0,10.57-6.63L172.57,100h28.35l19.2,47.76L239.46,100h26.1Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M377,144.61c-3.75,7.37-9.25,10.56-15.59,10.56-9.51,0-17-6.63-17-18.75s7.5-18.5,17-18.5c6.34,0,11.84,3.18,15.59,10.57l21.13-10.83c-5.28-13.55-18.91-21.5-36.64-21.5-26.26,0-44.91,16.75-44.91,40.26s18.49,40.52,44.91,40.52c17.73,0,31.3-7.92,36.64-21.47Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M435.91,139.69c0-13.68,7.63-19.31,18.75-19.31a49.57,49.57,0,0,1,6.21.42V96.13c-11.54,0-20.63,3.62-26.26,10.57V97.42H408.48v78.2h27.43Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M485.92,88.79c10.09,0,16.72-6.37,16.72-15S496,59.65,485.92,59.65,469.17,66,469.17,74.2,475.82,88.79,485.92,88.79Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <rect x="472.2" y="97.42" width="27.42" height="78.2"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M564.54,153.22a15,15,0,0,1-8.35,2.46c-4.92,0-8.24-3.17-8.24-9V120.8h17.91V100.38H548V80H520.44v20.34H509v20.48h11.41v26.26c0,20,11.68,29.85,31.71,29.85a36.67,36.67,0,0,0,19-4.47Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <rect x="581.87" y="97.42" width="27.42" height="78.2"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M595.58,88.79c10.09,0,16.72-6.37,16.72-15s-6.63-14.13-16.72-14.13S578.83,66,578.83,74.2,585.46,88.79,595.58,88.79Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M682.28,168.7v34.93H709.7V97.42H683.58v7.8c-5.29-6.21-12.84-9.09-23.09-9.09-21.14,0-38.36,15.59-38.36,40.39S639.33,177,660.46,177A29.1,29.1,0,0,0,682.28,168.7Zm-32.39-32.18c0-11.81,7.21-18.49,16.46-18.49s16.43,6.79,16.43,18.49S675.57,155,666.35,155,649.89,148.36,649.89,136.52Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M782.14,135.1c0,13.21-6.66,18.49-14.71,18.49s-13-4.76-13-16.88V97.42H727v43.73c0,24.8,14,35.77,33.2,35.77a30.91,30.91,0,0,0,23.23-9.65v8.35h26.1V97.42h-27.4Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M869,156c-10.11,0-16.88-4.62-19.2-12.58h56.85c.13-2.14.42-4.75.42-6.76,0-25.84-18.75-40.55-41.82-40.55-24.67,0-43,16.75-43,40.26s18,40.61,45.89,40.61c14.85,0,25.81-4.31,33.32-12.68l-14.43-15A25,25,0,0,1,869,156Zm-3.61-40.42a15.44,15.44,0,0,1,16,13.42h-32A15.55,15.55,0,0,1,865.39,115.6Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <polygon
                                points="327.46 228.8 341.91 228.8 341.91 227.75 327.46 227.75 327.46 211.6 343.71 211.6 343.71 210.55 326.67 210.55 326.67 247.11 344.26 247.11 344.26 246.05 327.46 246.05 327.46 228.8"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M362.3,220.06a7.9,7.9,0,0,0-5.28,2.06,11.3,11.3,0,0,0-3.14,5.57v-7.63h-.8v27.05h.8V232.47a15.08,15.08,0,0,1,2.64-8.21,7.38,7.38,0,0,1,6-3.09,6.16,6.16,0,0,1,5.28,2.64,11.81,11.81,0,0,1,1.88,7.08v16.38h.79V230.89a13.23,13.23,0,0,0-2.09-7.93A6.82,6.82,0,0,0,362.3,220.06Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M384.87,246.05a2.65,2.65,0,0,1-2.65-1.61,10.33,10.33,0,0,1-.87-4.75V221.64h7.08v-1h-7.08v-6.44h-.79v6.44h-2.77v1h2.95v18.05a12,12,0,0,0,1.06,5.54,3.44,3.44,0,0,0,3.15,1.88,5.74,5.74,0,0,0,4.06-2l-.47-.84A4.83,4.83,0,0,1,384.87,246.05Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M411.34,226.61a10.78,10.78,0,0,0-3.31-4.7,7.44,7.44,0,0,0-4.88-1.75,7.73,7.73,0,0,0-4.94,1.75,11.27,11.27,0,0,0-3.49,4.8,19.69,19.69,0,0,0,0,13.9,11.54,11.54,0,0,0,3.49,4.84,7.65,7.65,0,0,0,4.94,1.77,8.86,8.86,0,0,0,4.3-1.11,9.9,9.9,0,0,0,3.38-3.15l-.55-.74a8.38,8.38,0,0,1-3.09,2.91,8.18,8.18,0,0,1-4,1,7.19,7.19,0,0,1-4.6-1.59,10.78,10.78,0,0,1-3.17-4.43,17.17,17.17,0,0,1-1.16-6.45h18.31A19.41,19.41,0,0,0,411.34,226.61Zm-15.72,0a10,10,0,0,1,3.17-4,7.06,7.06,0,0,1,4.36-1.45,7.16,7.16,0,0,1,6,3.14,15.11,15.11,0,0,1,2.64,8.27H394.38a15.53,15.53,0,0,1,1.24-6Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M421.4,227.45v-7.39h-.79v27.05h.79V232.29a16.07,16.07,0,0,1,2.27-8.11,6.57,6.57,0,0,1,5.45-3.07v-1.05a6.91,6.91,0,0,0-4.84,2A11.26,11.26,0,0,0,421.4,227.45Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M440.56,246.05a2.65,2.65,0,0,1-2.65-1.61,10.33,10.33,0,0,1-.87-4.75V221.64h7.08v-1H437v-6.44h-.79v6.44h-3v1h3v18.05a11.75,11.75,0,0,0,1.06,5.54,3.43,3.43,0,0,0,3.14,1.88,5.76,5.76,0,0,0,4.07-2l-.45-.84A4.93,4.93,0,0,1,440.56,246.05Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M463.8,222.49a6.19,6.19,0,0,0-5.28-2.43,10.54,10.54,0,0,0-7.56,4l.51.84a14.92,14.92,0,0,1,3.43-2.8,7.2,7.2,0,0,1,3.62-1,5.6,5.6,0,0,1,4.7,2.06,9.53,9.53,0,0,1,1.67,5.9v3.4h-7.48a7.76,7.76,0,0,0-5.47,1.85,6.58,6.58,0,0,0-2,5.13,8.54,8.54,0,0,0,1.83,5.6,5.85,5.85,0,0,0,4.73,2.19,8.25,8.25,0,0,0,5-1.53A10.29,10.29,0,0,0,465,241v6.13h.76v-18A10.52,10.52,0,0,0,463.8,222.49Zm-2.11,21.79a7.67,7.67,0,0,1-5.15,1.77,5.24,5.24,0,0,1-4.23-1.85,7.2,7.2,0,0,1-1.58-4.88,5.44,5.44,0,0,1,1.77-4.39,7.17,7.17,0,0,1,4.94-1.53H465v5.28A11.74,11.74,0,0,1,461.69,244.28Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M476,210.92a.88.88,0,0,0-.71.39,1.67,1.67,0,0,0,0,1.91.85.85,0,0,0,.71.42.82.82,0,0,0,.71-.42,1.5,1.5,0,0,0,.32-.93,1.44,1.44,0,0,0-.32-.95A.87.87,0,0,0,476,210.92Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <rect x="475.61" y="220.06" width="0.77" height="27.03"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M496.19,220.06a7.9,7.9,0,0,0-5.28,2.06,11.39,11.39,0,0,0-3.17,5.57v-7.63H487v27.05h.77V232.47a15.27,15.27,0,0,1,2.64-8.21,7.32,7.32,0,0,1,5.94-3.09,6.17,6.17,0,0,1,5.29,2.64,11.81,11.81,0,0,1,1.87,7.08v16.38h.77V230.89a12.94,12.94,0,0,0-2.09-7.93A6.78,6.78,0,0,0,496.19,220.06Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M539.09,220.06a7.5,7.5,0,0,0-5.28,2.22,12,12,0,0,0-3.06,6.07,10.56,10.56,0,0,0-2.46-6.1,6.6,6.6,0,0,0-5.2-2.19,7.79,7.79,0,0,0-5.29,2.08,11.37,11.37,0,0,0-3.06,5.66v-7.74h-.8v27.05h.8V233.9a16.89,16.89,0,0,1,2.19-9.3,7.15,7.15,0,0,1,6.16-3.49,6,6,0,0,1,5.12,2.65,11.79,11.79,0,0,1,1.85,7.08v16.38h.79V234a17.14,17.14,0,0,1,2.17-9.3,7.14,7.14,0,0,1,6.13-3.46,5.93,5.93,0,0,1,5.1,2.64A11.86,11.86,0,0,1,546.1,231v16.38h.76V231a13.21,13.21,0,0,0-2-7.93A6.66,6.66,0,0,0,539.09,220.06Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M572.3,226.61a10.9,10.9,0,0,0-3.3-4.7,7.52,7.52,0,0,0-4.89-1.75,7.92,7.92,0,0,0-5,1.75,11.41,11.41,0,0,0-3.46,4.8,19.26,19.26,0,0,0,0,13.9,11.78,11.78,0,0,0,3.46,4.84,7.73,7.73,0,0,0,5,1.77,8.75,8.75,0,0,0,4.28-1.11A10.09,10.09,0,0,0,571.8,243l-.55-.74a8.41,8.41,0,0,1-3.1,2.91,8.23,8.23,0,0,1-4,1,7.16,7.16,0,0,1-4.59-1.59,10.85,10.85,0,0,1-3.2-4.43,17.35,17.35,0,0,1-1.14-6.45h18.28A19.64,19.64,0,0,0,572.3,226.61Zm-15.72,0a10.09,10.09,0,0,1,3.15-4,7.32,7.32,0,0,1,10.24,1.5l.14.19a15,15,0,0,1,2.64,8.27H555.29a16.16,16.16,0,0,1,1.29-6Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M590.85,220.06a7.91,7.91,0,0,0-5.29,2.06,11.55,11.55,0,0,0-3.17,5.57v-7.63h-.76v27.05h.76V232.47a15,15,0,0,1,2.65-8.21,7.38,7.38,0,0,1,6-3.09,6.1,6.1,0,0,1,5.28,2.64,11.61,11.61,0,0,1,1.9,7.08v16.38H599V230.89a12.94,12.94,0,0,0-2.09-7.93A6.81,6.81,0,0,0,590.85,220.06Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M613.44,246.05a2.65,2.65,0,0,1-2.65-1.61,10.33,10.33,0,0,1-.87-4.75V221.64H617v-1h-7v-6.44h-.76v6.44h-3v1h3v18.05a11.5,11.5,0,0,0,1,5.54,3.44,3.44,0,0,0,3.15,1.88,5.75,5.75,0,0,0,4-2l-.45-.84A4.9,4.9,0,0,1,613.44,246.05Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M623.77,244.76a.89.89,0,0,0-.72.37,1.49,1.49,0,0,0-.29,1,1.65,1.65,0,0,0,.19.84,1.1,1.1,0,0,0,.5.5l-1.06,2.49h.77l1.24-2.49a3.42,3.42,0,0,0,.37-1.29,1.79,1.79,0,0,0-.29-1A.82.82,0,0,0,623.77,244.76Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M658.19,245a7.2,7.2,0,0,1-3.81,1,7.41,7.41,0,0,1-4.65-1.58,10.65,10.65,0,0,1-3.22-4.44,16.71,16.71,0,0,1-1.16-6.45,16.33,16.33,0,0,1,1.16-6.44,10.37,10.37,0,0,1,3.38-4.44,7.46,7.46,0,0,1,4.63-1.59,7.94,7.94,0,0,1,6.2,3.44l.53-.74a9.76,9.76,0,0,0-3.11-2.64,7.75,7.75,0,0,0-3.76-.95,7.89,7.89,0,0,0-5,1.74,11.15,11.15,0,0,0-3.51,4.81,19.24,19.24,0,0,0,0,13.89,11.38,11.38,0,0,0,3.51,4.84,7.93,7.93,0,0,0,9.06.66,9.36,9.36,0,0,0,3.23-3.15l-.51-.73A8.89,8.89,0,0,1,658.19,245Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M686,233.29a16.73,16.73,0,0,1-2.22,9.3,7.17,7.17,0,0,1-6.15,3.46,6,6,0,0,1-5.29-2.64,12,12,0,0,1-1.85-7.08V220.06h-.76v16.38a13.18,13.18,0,0,0,2.06,7.92,6.7,6.7,0,0,0,5.73,2.83,7.73,7.73,0,0,0,5.28-2.09,11.89,11.89,0,0,0,3.07-5.81v7.93h1V220.06h-.77Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M698.05,227.45v-7.39h-.76v27.05h.76V232.29a15.9,15.9,0,0,1,2.3-8.11,6.49,6.49,0,0,1,5.28-3.07v-1.05a6.91,6.91,0,0,0-4.83,2A11.45,11.45,0,0,0,698.05,227.45Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M723.26,222.49a6.19,6.19,0,0,0-5.29-2.43,10.5,10.5,0,0,0-7.55,4l.47.84a15.29,15.29,0,0,1,3.46-2.8,7.2,7.2,0,0,1,3.62-1,5.62,5.62,0,0,1,4.7,2.06,9.46,9.46,0,0,1,1.67,5.9v3.4h-7.48a7.71,7.71,0,0,0-5.47,1.85,6.54,6.54,0,0,0-2,5.13,8.48,8.48,0,0,0,1.82,5.6,5.84,5.84,0,0,0,4.7,2.19,8.3,8.3,0,0,0,5-1.53,10.51,10.51,0,0,0,3.49-4.6v6.13h.77v-18A10.6,10.6,0,0,0,723.26,222.49Zm-2.12,21.79a7.69,7.69,0,0,1-5.28,1.77,5.24,5.24,0,0,1-4.23-1.85,7.2,7.2,0,0,1-1.58-4.88,5.57,5.57,0,0,1,1.74-4.39,7.29,7.29,0,0,1,5-1.53h7.47v5.28a11.63,11.63,0,0,1-3,5.6Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M739.9,246.05a2.63,2.63,0,0,1-2.64-1.61,9.86,9.86,0,0,1-.9-4.75V221.64h7.11v-1h-7.11v-6.44h-.77v6.44h-3v1h3v18.05a11.51,11.51,0,0,0,1.06,5.54,3.43,3.43,0,0,0,3.14,1.88,5.8,5.8,0,0,0,4.07-2l-.47-.84A4.91,4.91,0,0,1,739.9,246.05Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M766.37,226.61a10.84,10.84,0,0,0-3.3-4.7,7.45,7.45,0,0,0-4.86-1.85,7.94,7.94,0,0,0-5,1.74,11.47,11.47,0,0,0-3.46,4.81,19.69,19.69,0,0,0,0,13.9,11.75,11.75,0,0,0,3.46,4.83,7.7,7.7,0,0,0,5,1.77,8.57,8.57,0,0,0,4.28-1.11,9.66,9.66,0,0,0,3.4-3.14l-.55-.74a8.27,8.27,0,0,1-3.09,2.9,8.18,8.18,0,0,1-4,1,7.23,7.23,0,0,1-4.6-1.58,10.82,10.82,0,0,1-3.17-4.44,17.1,17.1,0,0,1-1.16-6.45h18.28A19.29,19.29,0,0,0,766.37,226.61Zm-15.72,0a10.09,10.09,0,0,1,3.15-4,7.34,7.34,0,0,1,10.27,1.51l.13.18a15,15,0,0,1,2.65,8.27H749.38a16.13,16.13,0,0,1,1.27-6Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M792.34,228a12.88,12.88,0,0,0-3.54-5.87,7.94,7.94,0,0,0-5.55-2.16,8.09,8.09,0,0,0-5.07,1.74,11.66,11.66,0,0,0-3.54,4.89,19.84,19.84,0,0,0,0,14,11.53,11.53,0,0,0,3.54,4.87,8.14,8.14,0,0,0,10.57-.43,12.63,12.63,0,0,0,3.54-5.86v7.92h.76V208.3h-.76Zm-1.19,12.05a10.69,10.69,0,0,1-3.22,4.49,7.37,7.37,0,0,1-4.68,1.61,7.56,7.56,0,0,1-4.7-1.61,10.93,10.93,0,0,1-3.22-4.49,17,17,0,0,1-1.17-6.42,17.2,17.2,0,0,1,1.17-6.5,10.47,10.47,0,0,1,3.25-4.49,7.5,7.5,0,0,1,9.35,0,10.34,10.34,0,0,1,3.22,4.49,17,17,0,0,1,1.19,6.5A16.44,16.44,0,0,1,791.15,240.06Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M832.47,221.91a7.91,7.91,0,0,0-5-1.77,8.14,8.14,0,0,0-5.55,2.16,12.54,12.54,0,0,0-3.49,5.79V208.3h-.76v38.81h.76v-7.93a12.55,12.55,0,0,0,3.52,5.82,8.1,8.1,0,0,0,10.54.37,11.62,11.62,0,0,0,3.49-4.79,18,18,0,0,0,1.26-6.92,18.27,18.27,0,0,0-1.26-7A11.53,11.53,0,0,0,832.47,221.91Zm2.8,18.2a10.69,10.69,0,0,1-3.09,4.36,7.25,7.25,0,0,1-4.6,1.58,7.41,7.41,0,0,1-4.65-1.58,10.82,10.82,0,0,1-3.2-4.44,18,18,0,0,1,0-12.84,10.71,10.71,0,0,1,3.23-4.46,7.37,7.37,0,0,1,9.22,0,10.57,10.57,0,0,1,3.22,4.49,18.23,18.23,0,0,1,0,12.81Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M849.8,245.89l-7.93-25.83H841l8.35,27.16-1,3.43a11,11,0,0,1-2,4.12,3.54,3.54,0,0,1-2.64,1.43,4.51,4.51,0,0,1-3.17-1.22l-.37.9a5.15,5.15,0,0,0,3.6,1.35,3.86,3.86,0,0,0,2.95-1.59,12.26,12.26,0,0,0,2.3-4.59l9.65-31h-1Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M884.19,208.3a4.14,4.14,0,0,0-2.8,1.14,7.65,7.65,0,0,0-2.06,3,11.87,11.87,0,0,0-.74,4.3v3.83H876v1h2.64v25.47h.77V221.64h6.55v-1h-6.55v-3.83a9.44,9.44,0,0,1,1.4-5.28,4,4,0,0,1,3.43-2.12,5,5,0,0,1,3.6,1.72l.47-.84a6.21,6.21,0,0,0-1.93-1.4A4.83,4.83,0,0,0,884.19,208.3Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M892.52,227.45v-7.39h-.77v27.05h.77V232.29a16,16,0,0,1,2.3-8.11,6.51,6.51,0,0,1,5.44-3.07v-1.05a6.91,6.91,0,0,0-4.84,2A11.17,11.17,0,0,0,892.52,227.45Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M907.26,210.92a.91.91,0,0,0-.72.39,1.57,1.57,0,0,0-.31,1,1.49,1.49,0,0,0,.31.93.89.89,0,0,0,.72.42.83.83,0,0,0,.71-.42,1.5,1.5,0,0,0,.32-.93,1.44,1.44,0,0,0-.32-.95A.87.87,0,0,0,907.26,210.92Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <rect x="906.86" y="220.06" width="0.77" height="27.03"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M933.78,226.61a10.76,10.76,0,0,0-3.3-4.7,7.47,7.47,0,0,0-4.89-1.75,7.75,7.75,0,0,0-4.94,1.75,11.36,11.36,0,0,0-3.49,4.8,19.8,19.8,0,0,0,0,13.9,11.72,11.72,0,0,0,3.49,4.84,7.69,7.69,0,0,0,4.94,1.77,8.89,8.89,0,0,0,4.31-1.11,9.9,9.9,0,0,0,3.38-3.15l-.53-.74a8.54,8.54,0,0,1-3.12,2.91,8.13,8.13,0,0,1-4,1,7.27,7.27,0,0,1-4.59-1.59,10.69,10.69,0,0,1-3.17-4.43,17.18,17.18,0,0,1-1.17-6.45H935A19.21,19.21,0,0,0,933.78,226.61Zm-15.72,0a10,10,0,0,1,3.17-4,7.08,7.08,0,0,1,4.36-1.45,7.19,7.19,0,0,1,6,3.14,15,15,0,0,1,2.64,8.27H916.72a15.55,15.55,0,0,1,1.34-6Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M952.35,220.06a8,8,0,0,0-5.28,2.06,11.22,11.22,0,0,0-3.14,5.57v-7.63h-.8v27.05h.8V232.47a15,15,0,0,1,2.64-8.21,7.38,7.38,0,0,1,6-3.09,6.16,6.16,0,0,1,5.28,2.64,11.67,11.67,0,0,1,1.88,7.08v16.38h.79V230.89A12.88,12.88,0,0,0,958.4,223,6.82,6.82,0,0,0,952.35,220.06Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M986.78,228a12.67,12.67,0,0,0-3.52-5.87,8.21,8.21,0,0,0-10.56-.42,11.37,11.37,0,0,0-3.54,4.89,18.36,18.36,0,0,0-1.27,7,17.94,17.94,0,0,0,1.27,6.94,11.37,11.37,0,0,0,3.54,4.87,8.13,8.13,0,0,0,10.56-.43,12.26,12.26,0,0,0,3.52-5.86v7.92h.79V208.3h-.79Zm-1.17,12.05a10.6,10.6,0,0,1-3.22,4.49,7.65,7.65,0,0,1-9.38,0,10.69,10.69,0,0,1-3.22-4.49,16.44,16.44,0,0,1-1.19-6.42,16.77,16.77,0,0,1,1.19-6.5,10.14,10.14,0,0,1,3.25-4.49,7.5,7.5,0,0,1,9.35,0,10.26,10.26,0,0,1,3.22,4.49,17,17,0,0,1,1.17,6.5A16.42,16.42,0,0,1,985.61,240.06Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M1006.14,234.27a24.19,24.19,0,0,0-3.38-1.58,31.29,31.29,0,0,1-3.09-1.48,5.59,5.59,0,0,1-1.88-1.77,5.33,5.33,0,0,1-.76-3,4.9,4.9,0,0,1,1.58-4,6,6,0,0,1,4.07-1.38,7.35,7.35,0,0,1,4.94,1.8l.4-.9a8.67,8.67,0,0,0-5.29-1.95,6.51,6.51,0,0,0-4.59,1.66,6.15,6.15,0,0,0-1.8,4.84,6.74,6.74,0,0,0,.85,3.51,6.45,6.45,0,0,0,2.11,2.11,28.05,28.05,0,0,0,3.35,1.64,24.36,24.36,0,0,1,3.09,1.48,5.79,5.79,0,0,1,1.93,1.85,5.32,5.32,0,0,1,.8,3,5.55,5.55,0,0,1-1.75,4.39,6.19,6.19,0,0,1-4.28,1.5,7.58,7.58,0,0,1-3.7-.9,9.51,9.51,0,0,1-3-2.64l-.5.8a9.68,9.68,0,0,0,3.22,2.64,8.43,8.43,0,0,0,4,1,7.07,7.07,0,0,0,4.84-1.77,6.74,6.74,0,0,0,2-5.28,6.83,6.83,0,0,0-.87-3.67A6.43,6.43,0,0,0,1006.14,234.27Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M1016,244.76a.86.86,0,0,0-.71.37,1.5,1.5,0,0,0-.3,1,1.75,1.75,0,0,0,.19.84,1.15,1.15,0,0,0,.5.5l-1.06,2.49h.77l1.24-2.49a3.25,3.25,0,0,0,.37-1.29,1.64,1.64,0,0,0-.29-1A.8.8,0,0,0,1016,244.76Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M1039.27,210.92a.88.88,0,0,0-.71.39,1.52,1.52,0,0,0-.32,1,1.44,1.44,0,0,0,.32.93.92.92,0,0,0,.71.42.82.82,0,0,0,.71-.42,1.65,1.65,0,0,0,.29-.93,1.55,1.55,0,0,0-.29-.95A.87.87,0,0,0,1039.27,210.92Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M1038.87,248.72a13.14,13.14,0,0,1-.92,5.55,3,3,0,0,1-2.64,1.87,4.78,4.78,0,0,1-3.62-1.71l-.45.82a5.66,5.66,0,0,0,4.07,1.92,3.6,3.6,0,0,0,3.3-2.13,14.15,14.15,0,0,0,1.11-6.32V220.06H1039Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M1065.63,233.29a16.81,16.81,0,0,1-2.21,9.3,7.16,7.16,0,0,1-6.16,3.46,6,6,0,0,1-5.15-2.64,11.81,11.81,0,0,1-1.88-7.08V220.06h-.76v16.38a13.18,13.18,0,0,0,2.06,7.92,6.7,6.7,0,0,0,5.73,2.83,7.73,7.73,0,0,0,5.28-2.09,11.61,11.61,0,0,0,3.07-5.81v7.93h.79V220.06h-.79Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M1084.79,234.27a22.35,22.35,0,0,0-3.36-1.58,28.59,28.59,0,0,1-3.11-1.48,5.15,5.15,0,0,1-2.62-4.76,4.91,4.91,0,0,1,1.59-4,5.84,5.84,0,0,1,4.06-1.38,7.33,7.33,0,0,1,4.94,1.8l.37-.9a8.48,8.48,0,0,0-5.28-1.95,6.42,6.42,0,0,0-4.57,1.66,6.12,6.12,0,0,0-1.82,4.84,6.44,6.44,0,0,0,.87,3.51,6.17,6.17,0,0,0,2.11,2.11,27.78,27.78,0,0,0,3.33,1.64,25,25,0,0,1,3.09,1.48,5.88,5.88,0,0,1,2,1.85,5.58,5.58,0,0,1,.76,3,5.64,5.64,0,0,1-1.71,4.39,6.34,6.34,0,0,1-4.31,1.5,7.47,7.47,0,0,1-3.67-.9,9.2,9.2,0,0,1-3-2.64l-.53.8a10.05,10.05,0,0,0,3.22,2.64,8.55,8.55,0,0,0,4,1,7,7,0,0,0,4.83-1.77,6.69,6.69,0,0,0,2-5.28,6.93,6.93,0,0,0-.88-3.67A6.8,6.8,0,0,0,1084.79,234.27Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M1100.35,246.05a2.63,2.63,0,0,1-2.64-1.61,9.86,9.86,0,0,1-.9-4.75V221.64h7.1v-1h-7.1v-6.44H1096v6.44h-3v1h3v18.05a11.51,11.51,0,0,0,1.06,5.54,3.43,3.43,0,0,0,3.14,1.88,5.74,5.74,0,0,0,4.07-2l-.47-.84A4.91,4.91,0,0,1,1100.35,246.05Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M1131.1,208.3a4.1,4.1,0,0,0-2.8,1.14,7.45,7.45,0,0,0-2.06,3,11.46,11.46,0,0,0-.74,4.3v3.83h-2.64v1h2.64v25.47h.76V221.64h6.56v-1h-6.56v-3.83a9.69,9.69,0,0,1,1.38-5.28,4,4,0,0,1,3.46-2.12,5,5,0,0,1,3.59,1.72l.48-.84a6.33,6.33,0,0,0-1.93-1.4A4.87,4.87,0,0,0,1131.1,208.3Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M1150.81,221.91a8,8,0,0,0-10,0,11.12,11.12,0,0,0-3.51,4.8,19.69,19.69,0,0,0,0,13.9,11.38,11.38,0,0,0,3.51,4.84,8,8,0,0,0,10,0,11.89,11.89,0,0,0,3.51-4.81,19.77,19.77,0,0,0,0-13.93A11.55,11.55,0,0,0,1150.81,221.91Zm2.85,18.23a10.68,10.68,0,0,1-3.22,4.43,7.4,7.4,0,0,1-4.63,1.59,7.52,7.52,0,0,1-4.67-1.59,10.55,10.55,0,0,1-3.2-4.43,17.17,17.17,0,0,1-1.16-6.45,17,17,0,0,1,1.16-6.45,10.59,10.59,0,0,1,3.33-4.54,7.54,7.54,0,0,1,4.68-1.59,7.46,7.46,0,0,1,4.62,1.59,10.62,10.62,0,0,1,3.09,4.49,18.91,18.91,0,0,1,0,12.89Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M1164.62,227.45v-7.39h-.79v27.05h.79V232.29a16,16,0,0,1,2.28-8.11,6.54,6.54,0,0,1,5.44-3.07v-1.05a6.93,6.93,0,0,0-4.84,2A11.26,11.26,0,0,0,1164.62,227.45Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M1197.43,245.89l-7.92-25.83h-.69l8.35,27.16-1,3.43a11.15,11.15,0,0,1-2,4.12,3.56,3.56,0,0,1-2.64,1.43,4.49,4.49,0,0,1-3.15-1.22l-.37.9a5.15,5.15,0,0,0,3.6,1.35,3.93,3.93,0,0,0,3-1.59,12.84,12.84,0,0,0,2.19-4.67l9.43-31h-.93Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M1224.33,221.91a8,8,0,0,0-10,0,11.14,11.14,0,0,0-3.52,4.8,19.37,19.37,0,0,0,0,13.9,11.4,11.4,0,0,0,3.52,4.84,7.94,7.94,0,0,0,10,0,11.53,11.53,0,0,0,3.49-4.81,19.45,19.45,0,0,0,0-13.93A11.36,11.36,0,0,0,1224.33,221.91Zm2.85,18.23a10.59,10.59,0,0,1-3.22,4.43,7.59,7.59,0,0,1-9.3,0,10.55,10.55,0,0,1-3.2-4.43,16.78,16.78,0,0,1-1.16-6.45,16.53,16.53,0,0,1,1.16-6.45,10.64,10.64,0,0,1,3.2-4.44,7.62,7.62,0,0,1,9.3,0,10.56,10.56,0,0,1,3.22,4.39,18.79,18.79,0,0,1,0,12.89Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M1252.83,233.29a16.73,16.73,0,0,1-2.22,9.3,7.16,7.16,0,0,1-6.15,3.46,6,6,0,0,1-5.28-2.64,11.72,11.72,0,0,1-1.85-7.08V220.06h-.8v16.38a13.25,13.25,0,0,0,2.06,7.92,6.77,6.77,0,0,0,5.76,2.83,7.74,7.74,0,0,0,5.29-2.09,11.92,11.92,0,0,0,3.09-5.81v7.93h.76V220.06h-.76Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                            <path
                                d="M1263.88,245.15a.92.92,0,0,0-.74-.39,1,1,0,0,0-.69.37,1.5,1.5,0,0,0-.32,1,1.58,1.58,0,0,0,.32.95.89.89,0,0,0,.69.39.87.87,0,0,0,.74-.42,1.59,1.59,0,0,0,.29-.92A1.72,1.72,0,0,0,1263.88,245.15Z"
                                style="fill:#fff;stroke:#fff;stroke-miterlimit:10;stroke-width:1.89959511004421px" />
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <div class="background-subcontainer">
            <h1>Create a new account</h1>
            <p>It only takes a few seconds.</p>
        </div>
    
        <div class="animated-bg"></div>
    </div>

    <script src="scripts/login_util.js"></script>
    <script src="scripts/validation.js"></script>

</body>
</html>